@use "./variables" as v;

.aboutRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.aboutMe {
    width: 600px;
}

.aboutMe h3 {
    font-size: 1.5rem;
}

.aboutMe p {
    font-size: 1.1rem;
    padding: 15px 0;
}

.info {
    margin-right: 7%;
}

.info li {
    padding: 10px 0;
}

.info h3 {
    font-size: 1.5rem;
}

.info .underline {
    font-weight: 400;
}

.info ul {
    padding: 30px 0;
}

.info .sideProfile {
    display: none;
}

.services {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.services h3 {
    font-size: 1.5rem;
    padding: 30px 0;
    text-align: center;
    margin: 30px 0px 50px 0;
}

.serviceList {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.serviceList li {
    text-align: center;
}

.serviceList .service {
    font-size: 40px;
    color: v.$blue;
}

.serviceList li {
    padding: 10px 15px;
}

.serviceList h4,
p {
    padding: 10px 0;
}

.serviceList h4 {
    font-size: 1.3rem;
}

.serviceList p {
    font-size: 1.1rem;
}

.service .position {
    margin-bottom: 10px;
}

@media (max-width: 1300px) {
    .serviceList {
        flex-direction: column;
    }
}

@media (max-width: 1265px) {
    .aboutMe {
        margin-bottom: 20px;
    }
    .aboutRow {
        flex-direction: column;
        align-items: flex-start;
    }
    .info {
        margin: 0;
    }
}

@media (max-width: 1265px ) {
    .info .sideProfile {
        display: block;
    }
    .info .sideProfile img {
        max-width: 300px;
        border-radius: 50%;
        border: solid v.$white 2px;
        overflow: hidden;
    }
    .info {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
}

@media (max-width: 900px) {
    .aboutMe {
        width: 100%;
    }
}

@media (max-width: 630px) {
    .info {
        flex-direction: column;
        align-items: center;
    }
    .info .sideProfile img {
        margin-top: 50px;
    }
}

@media (max-width: 325px) {
    .info .sideProfile img {
        max-width: 200px;
    }
    .aboutMe img {
        max-width: 250px;
    }
}