@use "./variables" as v;

.footer {
    margin-left: 200px;
    background-color: v.$grey;
    color: v.$white;
    text-align: center;
}

.footer a {
    color: v.$blue;
    text-decoration: none;
}

.footer .icon {
    color: v.$blue;
}

@media (max-width: 840px) {
    .footer {
      margin: 0;
    }
  }