@use "./variables" as v;

.footer {
    text-align: center;
}

.footer .icon {
    color: v.$blue
}

.footer .attribution {
    font-size: 0.7rem;
}

@media (max-width: 840px) {
    .footer {
      margin: 0;
    }
  }