@use "./variables" as v;

html,body {
    font-size: 16px;
    font-family: v.$font-para;
    scroll-behavior: smooth;
}

.content,
.footer {
    margin-left: 200px;
    background-color: v.$grey;
    color: v.$white;
}

li,p,ul,h1,h2,
h3,h4,h5,img,a {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: v.$blue;
}

.icon {
    font-size: 20px;
    padding: 0px 5px;
}

.about,.projects,
.mySkills,.contact {
    height: 100%;
}

.home {
    height: 100vh;
    width: 100%;
}

.wrapper {
    max-width: 1540px;
    width: 80%;
    margin: 0 auto;
}

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 500;
}

h3,h4,h5 {
    font-weight: 400;
}

h1,h2,
h3,h4,h5 {
    font-family: v.$font-head
}

p {
    font-weight: 300;
}

.home .arrowPulse {
    display: inline-block;
    font-size: 2rem;
    animation: heartbeat 1s infinite;
}

.aboutHeader,.toolkit,
.projectHeader,.contactHeader {
    color: v.$blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.7rem;
    padding: 5px 0;
    margin: 40px 0;
    border-bottom: solid 1px rgba($color: v.$white, $alpha: 0.4);
}

.resumeLink a,
.linkForProjects a {
    font-size: 0.9rem;
    font-weight: 700;
    padding: 10px 15px;
    border: v.$blue 2px solid;
}

.resumeLink a:hover,
.linkForProjects a:hover {
    color: v.$black;
    background-color: v.$blue;
    transition: 0.5s ease-in-out;
}

.aboutHeader .icon,.toolkit .icon,
.projectHeader .icon,.contactHeader .icon {
    font-size: 40px;
}

.info .underline,.services .underline,
.serviceList .underline,.projectNumber .underline,
.projectNumberReverse .underline,.contactInfo .underline {
    border-bottom: v.$blue 1px solid;
}

.contactForm .submitButton,
.home .stars {
    text-align: center;
    background-color: v.$grey;
    border: v.$blue 2px solid;
    padding: 10px 15px;
    color: v.$blue;
    font-weight: 700;
    margin: 20px;
}

.contactForm .submitButton:hover,
.home .stars:hover {
    color: v.$black;
    background-color: v.$blue;
    transition: 0.2s ease-in-out;
}

@keyframes heartbeat {
    0% {
        transform: scale(.75);
    }

    20% {
        transform: scale(1);
    }

    40% {
        transform: scale(.75);
    }

    60% {
        transform: scale(1);
    }

    80% {
        transform: scale(.75);
    }

    100% {
        transform: scale(.75);
    }
}

@media (max-width: 840px) {
    .content {
        margin: 0;
    }

    .home,
    .about,
    .mySkills,
    .projects,
    .contact {
        padding-top: 10px;
    }

    .wrapper {
        width: 90%;
    }
}