@use "./variables" as v;

html,body {
    font-size: 16px;
    font-family: v.$font-para;
    scroll-behavior: smooth;
}

.content {
  margin-left: 200px;
  background-color: v.$grey;

}

li,p,ul,h1,h2,h3,h4,h5,img,a {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.icon {
    font-size: 20px ;
    padding: 0px 5px;
}
.about,
.projects, .contact {
    height: 100%;
}

.home {
  height: 100vh;
  width: 100%;
}

.mySkills {
    height: 100%;
}

.wrapper {
    max-width: 1540px;
    width: 80%;
    margin: 0 auto;
}

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 500;
}

h3,h4,
h5 {
    font-weight: 400;
}

h1,h2,
h3,h4,h5 {
  font-family: v.$font-head
}

p {
    font-weight: 300;
}

.home .arrowPulse {
    display: inline-block;
    font-size: 2rem;
    animation: heartbeat 1s infinite;
      animation-name: heartbeat;
      animation-duration: 1s;
      animation-timing-function: ease;
      animation-delay: 0s;
      animation-iteration-count: infinite;
      animation-direction: normal;
      animation-fill-mode: none;
      animation-play-state: running;
  }

@keyframes heartbeat{
	0% {
        transform: scale(.75);
      }
      20% {
        transform: scale(1);
      }
      40% {
        transform: scale(.75);
      }
      60% {
        transform: scale(1);
      }
      80% {
        transform: scale(.75);
      }
      100% {
        transform: scale(.75);
      }
}

@media (max-width: 840px) {
  .content {
    margin: 0;
  }
  .home, .about, .mySkills,
  .projects, .contact {
    padding-top: 10px;
  }

  .wrapper {
    width: 90%;
  }
}