.content {
    margin-left: 200px;
}
.home {
    background-image: url(../assets/static-moon-background.jpeg);
}
.align {
    text-align: center;
    font-size: 2rem;
    color: white;
}

.banner {
    position: absolute;
    top: 40%;
    left: 40%;
}

.bannerContent h1 {
    font-size: 4rem;
    color: white;
}

.bannerContent .color {
    color: #28abdc;
}

.bannerContent .underline {
    color: #28abdc;
    border-bottom: 2px solid #28abdc;
    font-weight: 600;
}





