@use "./variables" as v;

.home {
    background-image: url(../assets/staticbackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
}
.align {
    text-align: center;
    font-size: 2rem;
    color: v.$white;
}

.banner {
    position: absolute;
    top: 40%;
    left: 40%;
}

.bannerContent h1 {
    font-size: 4rem;
    color: v.$white;
}

.bannerContent .color {
    color: v.$blue;
}

.bannerContent .underline {
    color: v.$blue;
    border-bottom: 2px solid v.$blue;
    font-weight: 600;
}

.home .stars {
    text-align: center;
    background-color: v.$grey;
    border: v.$blue 2px solid;
    padding: 10px 15px;
    color: v.$blue;
    font-weight: 700;
    margin: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.home .stars:hover {
    color: v.$black;
    background-color: v.$blue;
    transition: 0.2s ease-in-out;
}

@media (max-width: 840px) {
    .banner {
        left: 5%;
    }
    .bannerContent p {
        font-size: 1.5rem;
    }
    .bannerContent h1 {
        font-size: 2.5rem;
    }
}

