@use "./variables" as v;

.home {
    background-image: url(../assets/staticbackground.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.align {
    text-align: center;
    font-size: 2rem;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.bannerContent h1 {
    font-size: 4rem;
}

.bannerContent .color {
    color: v.$blue;
}

.bannerContent .underline {
    border-bottom: 2px solid v.$blue;
}

.home .stars {
    position: absolute;
    bottom: 0;
    right: 0;
}

@media (max-width: 840px) {
    .banner {
        left: 5%;
    }
    .bannerContent p {
        font-size: 1.5rem;
    }
    .bannerContent h1 {
        font-size: 2.5rem;
    }
}

