@use "./variables" as v;

.projects img {
    width: 300px;
}

.projectNumber,
.projectNumberReverse {
    margin: 30px 0;
    display: flex;
    border-bottom: rgba($color: v.$white, $alpha: 0.3) 1px dashed;
    justify-content: space-around;
    align-items: center;
}

.myProjects .removeBorder {
    border-bottom: none;
}

.projectNumber .projectDescription,
.projectNumberReverse .projectDescription {
    margin-bottom: 25px;
    font-size: 1.1rem;
    font-weight: 300;
}

.projectNumber .projectTitle,
.projectNumberReverse .projectTitle {
    font-size: 1.3rem;
    font-weight: 700;
}

.projectNumber .elementUsed,
.projectNumberReverse .elementUsed  {
    font-size: 1rem;
    font-weight: 500;
}

.projectNumberReverse {
    flex-direction: row-reverse;
}

.linkForProjects {
    display: flex;
    justify-content: space-around;
}

.projectNumber .projectText,
.projectNumberReverse .projectText {
    width: 500px;
    text-align: center;
}

.projectNumber li,
.projectNumberReverse li {
    padding: 25px 0;
}

@media (max-width: 855px) {
    .myProjects .projectNumber,
    .myProjects .projectNumberReverse {
        flex-direction: column;
    }
    .projects img {
        width: 200px;
    }
    .projectNumber .projectText,
    .projectNumberReverse .projectText {
        width: 100%;
    }
}
