@use "./variables" as v;

.mySkills li img {
    font-size: 50px;
}

.skillsUl {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    justify-content: center;
}

.skillList {
    display: flex;
    justify-content: center;
}

.skillsUl li {
    margin: 15px 30px;
}

.skillsLi p {
    visibility: hidden;
}

.skillsLi:hover p {
    visibility: visible;
    cursor: pointer;
    text-align: center;
}

@media (max-width: 800px) {
    .skillsUl li img {
       width: 75px;
    }
}

